.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;
    width: 100%;
    height: 70vh;
}

.home-button {
    color: #fff;
    background-color: #000;
    cursor: pointer;
    font-size: 1.25rem;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 10px;
}